body {
    background: white no-repeat;

}

#navbox{
    height: 60px;
    width: 100%;
    background-color: #00cccc;
    position: sticky;
    top: -1px;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
    z-index: 10;
}

.btn {
    background-color: #00cccc;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 25px;
    cursor: pointer;
}
.btn:hover {
    background-color: RoyalBlue;
}

#logo{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #00B7FF;
    background-image: url(back3.png);
}

#searchwrap{
    height: 100px;
    width: 100%;
    background-color: wheat;
    position: sticky;
    top: 59px;
}

.search {
    width: 60%;
    margin: auto;
    font-size: 25px;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 50px;
    margin-top: 25px;

    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
    font-size: 25px;
}

.searchButton {
    position: absolute;
    margin-top: 25px;
    width: 5%;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;

    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 90%;

    margin-left: auto;
    margin-right: auto;

}

.container {
    width: 90%;
    margin: auto;
    color: whitesmoke;
    font-size: 25px;
    margin-top: 60px;
}

.container h3 {
    font-size: 20px;
}

.api {
    border-style: double;
    border-width: 4px;
    border-color: #111111;
    border-radius: 3.2%;
    padding: 10px;
    padding-left: 20px;
}

.api input, .api button {
    font-size: 25px;
    color: #000;
}

.api h4 {
    margin: 10px 0;
}

.api .imageDiv {
    text-align: center;
}

.api .imageDiv img {
    display: none;
}

.api .msg {
    padding-top: 10px;
}

.api .msg .resultDiv {
    background: #FFF;
    display: inline-block;
}

.api .msg .resultDiv > p {
    color: #000;
    display: inline-block;
    width: 95%;
    padding: 10px;
    border-bottom: double 2px #CCC;
}

.api .msg .resultDiv .result {
    width: 23%;
    height: 375px;
    padding: 6px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin:10px;
}

.api .msg .resultDiv .result img {
    width: 75%;
}

.api .msg .resultDiv .result p {
    margin: 0;
}

.api .msg .resultDiv .result p a {
    color: #808080;
    text-decoration: none;
    font-size: 20px;
    height: 100px;
}

.api .msg .resultDiv .result p a:hover {
    text-decoration: underline;
}

#myModal {
    color: #000;
    background-color: mediumspringgreen;
    background-repeat:no-repeat ;
    background-size:cover ;
}

#modalBodyDiv{

    display:grid;
    font-size: 17px;

}

.modov {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 40px;

}
.modimg{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}


@media only screen and (max-width: 1200px){

    .api .msg .resultDiv .result {
        width: 30%;
        height: 390px;
        padding: 6px;
    }
}


@media only screen and (max-width: 1000px){

    .api .msg .resultDiv .result {
        width: 45%;
        height: 450px;
    }
}


@media only screen and (max-width: 900px){

    .api .msg .resultDiv .result {
        height: 380px;
    }
}


@media only screen and (max-width: 800px) {

    .api .msg .resultDiv .result {
        height: 360px;
    }
}


@media only screen and (max-width: 750px) {

    .searchButton {
        width: 7%;
        font-size: 20px;
    }

    .api .msg .resultDiv .result {
        height: 335px;
    }
}


@media only screen and (max-width: 675px) {

    .api .msg .resultDiv .result {
        width: 95%;
        height: 550px;
    }
}

@media only screen and (max-width: 630px){

    .modov {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 10px;
        margin-left: 2px;

    }
    .modimg{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 600px) {

    .search {
        width: 75%;
        margin: auto;
        font-size: 20px;
    }

    .searchButton {
        width: 10%;
        font-size: 20px;
    }

    .api .msg .resultDiv .result {
        height: 500px;
    }
}

@media only screen and (max-width: 550px) {

    #logo{
        background-image: url(back3small1.png);
    }

    .api .msg .resultDiv .result {
        height: 450px;
    }
}

@media only screen and (max-width: 500px) {

    .api .msg .resultDiv .result {
        height: 400px;
    }
}

@media only screen and (max-width: 450px) {

    #logo{
        background-image: url(back3small2.png);
    }

    #navbox{
        height: 52px;
    }
    #searchwrap{
        top: 51px;
    }

    .btn {
        padding: 12px 16px;
        font-size: 20px;
    }

    .api .msg .resultDiv .result {
        height: 350px;
    }
}

@media only screen and (max-width: 370px) {
    #navbox{
        height: 50px;
    }
    #searchwrap{
        top: 49px;
    }
    .btn {
        padding: 12px 16px;
        font-size: 17px;
    }
    .api .msg .resultDiv .result {
        height: 330px;
    }
}
